.sidebar{
    width: 30%;
    float: right;
    border: 6px solid black;
    margin: 26px;
    padding: 6px;
    background-color: lightsteelblue;
    font-style: unset;
}
.sidebar p{
    font-style: italic;
}
.column{
    width: 350px;
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: contents;
  }
.head{
    background-color: brown;
    font-size: 39px;
}

.down{
    display: flex;
    justify-content: flex-end;
    align-content: bottom;
    padding-top: 300PX;
}

